<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Movie Review</h1>
    <p> Nec, voluptates ipsam, reprehenderit, ab fugit, maecenas consequatur. Ultrices accumsan, numquam facilisi, quos auctor, posuere nonummy optio hic eum risus adipisci iure leo laboriosam imperdiet, temporibus! Accusamus ullamco incididunt dolores! Natus vel animi fames nostra blandit do venenatis, aenean assumenda, molestiae modi tempore nostrum corporis pulvinar, justo nesciunt veniam platea placerat molestias nobis praesent vehicula, impedit sequi quidem, similique, sed necessitatibus augue magnis pulvinar! Provident ullam, quia. Debitis, consequatur ducimus, minima commodi aenean, placeat amet corporis sequi hic, proin alias cras vivamus, sagittis orci erat cubilia inceptos natoque sollicitudin soluta sequi dignissimos ullamco dolorem. Aliquid aptent aperiam hac.</p>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %> 

<div class="row">
  <% @movies.each do |movie| %> 
    <div class="col-md-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %> 
</div